@import "~bootstrap/scss/bootstrap";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form{
    background: black;
    width: 600px;
    height: 55px;
    display: flex;
}

form input{
    flex: 1;
    border: none;
    outline: none;
}

form button {
    padding: 10px 50 px;
    border: none;
    outline: none;
}

.bg-image {
    background-image: url("../img/bg_main.jpeg");

    height: 100%;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.search-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ingredients-list {
    column-count: 3;
}
